.titulo {
    background-color: black;
    color: white;
    font-family: "Manufacturing Consent", system-ui;
    font-weight: 400;
    font-size: 80px;
    font-style: normal;
    margin: 0 auto;
    text-align: center;
}

body{
    background-image: url(https://img.elo7.com.br/product/zoom/28B2A01/fundo-fotografico-em-tecido-textura-cinza-2-80x1-50-cenarios-cenograficos.jpg);
}