.titulo {
    background-color: black;
    color: white;
    font-family: "Manufacturing Consent", system-ui;
    font-weight: 370;
    font-size: 75px;
    font-style: normal;
    margin: 0 auto;
    text-align: center;
}

body {
    background-image: url(https://img.elo7.com.br/product/zoom/28B2A01/fundo-fotografico-em-tecido-textura-cinza-2-80x1-50-cenarios-cenograficos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.texto {
    color: white;
    font-family: "Intel One Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    text-align: center;
}

.titulo2{
    background-color: black;
    color: white;
    font-family: "Manufacturing Consent", system-ui;
    font-weight: 350;
    font-size: 60px;
    font-style: normal;
    margin: 100px;
    text-align: center;
}

.texto2{
    color: white;
    font-family: "Intel One Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    text-align: center;
}